<section id="cumrap">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs container main">
        <ng-container *ngFor="let item of cumrap">
            <li class="nav-item">
                <a (click)="layThongTinCumRapTheoHeThong(item.maHeThongRap)" class="nav-link active" data-toggle="tab" ><img class="width__img"
                        [src]="item.logo" alt=""></a>
            </li>
        </ng-container>
    </ul>

    <div class="tab-content">
        <div class="tab-pane container active">

            <!-- Nav tabs -->
            <div class="row">

                <div class="col-md-6">
                    <ul class="nav nav-tabs">
                        <ng-container *ngFor="let item of thongTinCumRapTheoHeThong">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#rap1">
                                    <img src="../../../../assets/img/rapcgv.jpg" alt="">
                                    <div class="detail">
                                        <h6><span>{{item.tenCumRap}}</span></h6>
                                        <p class="diachi">
                                            {{item.diaChi}}
                                        </p>
                                    </div>
                                </a>
                            </li>                        
                        </ng-container>
                    </ul>
                </div>

                <div class="col-md-6">
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane container active" id="rap1">
                            <ng-container *ngFor="let item of danhSachPhim">
                                <div class="movie">
                                    <img src="../../../../assets/img/cumrap-movie1.jpg" alt="">
                                    <div class="detail">
                                        <h6><span>C13</span> Câu Chuyện Đồ Chơi 4 - Toy Story 4</h6>
                                        <p class="time">
                                            129 phút - 123Phim 8.9 - IMDb 8.2
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="showtime">
                                        <span>2D</span>
                                        <a href="#">13:00</a>
                                        <a href="#">13:30</a>
                                        <a href="#">15:00</a>
                                        <a href="#">18:00</a>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="clear"></div>

                            <div class="movie">
                                <img src="../../../../assets/img/cumrap-movie2.jpg" alt="">
                                <div class="detail">
                                    <h6><span>C13</span> Câu Chuyện Đồ Chơi 4 - Toy Story 4</h6>
                                    <p class="time">
                                        129 phút - 123Phim 8.9 - IMDb 8.2
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="showtime">
                                    <span>2D</span>
                                    <a href="#">13:00</a>
                                    <a href="#">13:30</a>
                                    <a href="#">15:00</a>
                                    <a href="#">18:00</a>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <div class="movie">
                                <img src="../../../../assets/img/cumrap-movie3.jpg" alt="">
                                <div class="detail">
                                    <h6><span>C13</span> Câu Chuyện Đồ Chơi 4 - Toy Story 4</h6>
                                    <p class="time">
                                        129 phút - 123Phim 8.9 - IMDb 8.2
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="showtime">
                                    <span>2D</span>
                                    <a href="#">13:00</a>
                                    <a href="#">13:30</a>
                                    <a href="#">15:00</a>
                                    <a href="#">18:00</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CUMRAP -->