@import "../../../../Helper/variable";

button{
    background-color: #686868;
    font-size: 13px;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: -2px 2px 10px black;
    transition: all linear .15s;
    &:focus{
        outline: none;
    }
}
.styleghedachon{
    background-color: $color-text;
}