<section id="datve">
    <div class="mynav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#chonve"><span>01</span>CHỌN VÉ + COMBO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#chonghe"><span>02</span>CHỌN GHẾ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#thanhtoan"><span>03</span>THANH TOÁN</a>
            </li>
        </ul>

        <div class="dangnhap">
            <a href="#" class="log-in d-flex align-items-center">
                <i class="fas fa-user-circle"></i>
                <span>Đăng Nhập</span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="mycontent row">
            <div class="left col-md-8">
                <div class="infor row">
                    <div class="col-md-8">
                        <p class="name"><span>C16</span>home</p>
                        <p class="time">99 min</p>
                    </div>
                </div>
                <div class="tab-content">

                    <div class="tab-pane container active" id="chonve">

                    </div>
                    <div class="tab-pane container fade" id="chonghe">...</div>
                    <div class="tab-pane container fade" id="thanhtoan">...</div>
                </div>
            </div>
            <div class="right col-md-4">
                <div class="hinhanhphim row">
                    <img src="http://movie0706.cybersoft.edu.vn/hinhanh/home.jpg" alt="">
                </div>
                <div class="row myrow">
                    <div class="col-md-4 star">Số lượng vé</div>
                    <div class="col-md-4 middle">0</div>
                    <div class="col-md-4 end">0</div>
                </div>
                <div class="row myrow">
                    <div class="col-md-4 star">Số lượng combo</div>
                    <div class="col-md-4 middle">0</div>
                    <div class="col-md-4 end">0</div>
                </div>
                <div class="row myrow">
                    <div class="col-md-6 star">Số ghế</div>
                    <div class="col-md-6 end">Chưa đặt</div>
                </div>
                <div class="row myrow">
                    <div class="col-md-4 star">Tổng tiền</div>
                    <div class="col-md-4 middle"></div>
                    <div class="col-md-4 end">0</div>
                </div>
            </div>
        </div>
    </div>
</section>