<section id="datve" *ngIf="thongTinSuatChieu">
    <div class="mynav sticky-top">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a [ngClass]="{'navtag-pointer': navtag1}" id="navtagChonVe" class="nav-link active" data-toggle="tab" href="#chonve"><span>01</span>CHỌN VÉ + COMBO</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'navtag-pointer': navtag2}" id="navtagChonGhe" class="nav-link" data-toggle="tab" href="#chonghe"><span>02</span>CHỌN GHẾ</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'navtag-pointer': navtag3}" class="nav-link" data-toggle="tab" href="#thanhtoan"><span>03</span>THANH TOÁN</a>
            </li>
        </ul>

        <div class="dangnhap">
            <a href="#" class="log-in d-flex align-items-center">
                <i class="fas fa-user-circle"></i>
                <span>Đăng Nhập</span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="mycontent row">
            <div class="left col-md-9">
                <div class="infor row">
                    <div class="col-md-10">
                        <p class="name"><span>C16</span>{{thongTinSuatChieu.tenPhim}}</p>
                        <p class="time"><span><i class="fas fa-clock"></i></span>99 min</p>
                        <p class="detailmovie">Mô tả phim Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, quidem.</p>
                        <div class="row cumrap">
                            <div class="col-md-4">
                                <p>Tên cụm rạp</p>
                                <p class="inforp">{{thongTinSuatChieu.tenCumRap}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Địa chỉ</p>
                                <p class="inforp">{{thongTinSuatChieu.diaChi}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Rạp</p>
                                <p class="inforp">{{thongTinSuatChieu.tenRap}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane container active p-0" id="chonve">
                        <div class="row chonve">
                            <div class="left col-md-4 p-0">
                                <p>Vé người lớn</p> <br>
                                <p>(vé 2D)</p>
                            </div>
                            <div class="middle col-md-4">
                                85.000
                            </div>
                            <div class="right col-md-4">
                                <button (click)="minusve()">-</button>
                                <span>{{soLuongVe}}</span>
                                <button (click)="plusve()">+</button>
                            </div>
                        </div>

                        <div class="row chonve">
                            <div class="left col-md-4 p-0">
                                <p>Combo</p>
                                <p>(1 bắp + 1 nước)</p>
                            </div>
                            <div class="middle col-md-4">
                                45.000
                            </div>
                            <div class="right col-md-4">
                                <button (click)="minuscombo()">-</button>
                                <span>{{soLuongCombo}}</span>
                                <button (click)="pluscombo()">+</button>
                            </div>
                        </div>
                        <div class="row chonghe">
                            <button (click)="toChonGhe()" class="btn btn-danger">Chọn ghế <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="chonghe">
                        <div class="row screen">
                            <img src="../../../assets/img/screen.png" alt="">
                        </div>
                        <div class="row danhsachghe">
                            <ng-container *ngFor="let item of thongTinSuatChieu.danhSachGhe; let stt = index">
                                <app-itemghe (eventDatGhe)="chonGhe($event)" [ghe]="item"></app-itemghe>
                            </ng-container>
                        </div>
                        <div class="row chonghe">
                            <button (click)="toChonVe()" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Quay lại</button>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="thanhtoan">...</div>
                </div>
            </div>
            <div class="right col-md-3">
                <div class="hinhanhphim row">
                    <img src="http://movie0706.cybersoft.edu.vn/hinhanh/home.jpg" alt="">
                </div>
                <div class="row myrow">
                    <div class="col-md-4 star">Số lượng vé</div>
                    <div class="col-md-4 middle">{{soLuongVe}}</div>
                    <div class="col-md-4 end">{{giaVe}}</div>
                </div>
                <div class="row myrow">
                    <div class="col-md-4 star">Số lượng combo</div>
                    <div class="col-md-4 middle">{{soLuongCombo}}</div>
                    <div class="col-md-4 end">{{giaCombo}}</div>
                </div>
                <div class="row myrow last">
                    <div class="col-md-6 star">Số ghế</div>
                    <div class="col-md-6 end">
                        <ng-container *ngFor="let item of mangGheDaChon">
                            <p>{{item.ghe.tenGhe}},</p>
                        </ng-container>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="col-md-6 star tongtien">Tổng tiền</div>
                    <div class="col-md-6 end tongtien">{{tongTien}}</div>
                </div>
            </div>
        </div>
    </div>
</section>