<header id="Header">
    <div class="header-top d-flex justify-content-end align-items-center container-fluid">
        <div class="header-log-in">
            <a data-target="#myModal" class="log-in d-flex align-items-center">
                <i class="fas fa-user-circle"></i>
                <span data-toggle="modal" data-target="#myModal" (click)="checkLogIn()"
                    *ngIf="!LogInLst; else LogInSuccess">Đăng Nhập</span>
                <ng-template #LogInSuccess>
                    <span class="pr-2">Xin Chào {{LogInLst.inforUser.hoTen}}</span>
                    |
                    <i class="fas fa-sign-in-alt pl-2"></i>
                    <span (click)="LogOut()">Đăng Xuất</span>
                </ng-template>
            </a>
        </div>
        <div class="header-khuvuc d-flex align-items-center">
            <i class="fas fa-map-marker-alt"></i>
            <!-- <button type="button" class="btn btn-primary dropdown-toggle btn-khuvuc" data-toggle="dropdown">
                Hồ Chí Minh
            </button> -->
            <!-- <div class="srcoll-khuvuc">
                <select class="khuvuc" size="5">
                    <option class="khuvuc-options" [value]="item.value" *ngFor="let item of areas">{{item.value}}
                    </option>
                </select>
            </div> -->
            <!-- <mat-form-field> -->
            <!-- <mat-label>Chọn Khu Vực</mat-label> -->
            <mat-select [value]="areas[0].value">
                <ng-container *ngFor="let item of areas; let index=index">
                    <mat-option [value]="item.value" *ngIf="index != 0; else DisableOption">
                        {{item.value}}
                    </mat-option>
                    <ng-template #DisableOption>
                        <mat-option [value]="item.value" disabled>
                            {{item.value}}
                        </mat-option>
                    </ng-template>
                </ng-container>
            </mat-select>
            <!-- </mat-form-field> -->
        </div>
    </div>
</header>



<nav id="NavBar" class="my-container d-flex justify-content-between align-items-center">
    <div class="navbar-brand">
        <a href="#">
            <img src="./../../../assets/img/logo.png">
        </a>
    </div>
    <div class="nav-menu">
        <ul class="nav3-nav d-flex align-items-center">
            <li class="nav-item">
                <a href="/trangchu#showtime">Lịch Chiếu</a>
            </li>
            <li class="nav-item">
                <a href="/trangchu#cumrap">Cụm Rạp</a>
            </li>
            <li class="nav-item">
                <a href="/trangchu#review">Tin Tức</a>
            </li>
            <li class="nav-item">
                <a href="/trangchu#app">Ứng dụng</a>
            </li>
        </ul>
    </div>
    <div class="toggle-button">
        <button id="show-menu">
            <!-- <img src="./../img/navbar-icon-light.png" alt=""> -->
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <app-form (eventDangNhap)="checkDangNhap($event)"></app-form>
    </div>
</div>

<!-- Sider Bar -->
<app-side-header></app-side-header>