@import "../../../Helper/variable";

.navbar {
  background-color: black;
}
.login-admin {
  span {
    color: $text-color;
    font-weight: 500;
    font-size: 16px;
  }
}
.active {
  color: $color-text !important;
}
