<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Trang Chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="GetDSPhim()">Danh Sách Phim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="GetDSUser()">Danh Sách User</a>
            </li>
        </ul>
        <div class="login-admin">
            <span>Xin Chào {{InfoLogin.inforUser.hoTen}}</span>
            <button mat-flat-button color="warn" class="ml-3">Log Out</button>
        </div>
    </div>
</nav>
<ng-container *ngIf="UserSeleted">
    <app-quan-ly-user style="color:white"></app-quan-ly-user>
</ng-container>
<ng-container *ngIf="MovieSeleted">
    <app-quan-ly-phim style="color:white"></app-quan-ly-phim>
</ng-container>
<router-outlet></router-outlet>
<!-- <app-admin-sidebar></app-admin-sidebar> -->