<mat-nav-list class="container">
    <h1 *ngIf="!CheckUpdate; else EditSelected">Thêm Người Dùng</h1>
    <ng-template #EditSelected>
        <h1>Cập Nhật Người Dùng</h1>
    </ng-template>
    <form [formGroup]="user">
        <mat-form-field color="warn">
            <input formControlName="taiKhoan" matInput placeholder="Tài Khoản">
        </mat-form-field>
        <mat-form-field color="warn">
            <input formControlName="hoTen" matInput placeholder="Họ Tên">
        </mat-form-field>
        <mat-form-field color="warn">
            <input formControlName="matKhau" matInput placeholder="Mật Khẩu" [type]="hide ? 'text' : 'password'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field color="warn">
            <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field color="warn">
            <input formControlName="soDt" matInput placeholder="Số Điện Thoại">
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-select formControlName="maLoaiNguoiDung" placeholder="Loại Người Dùng">
                <mat-option value="QuanTri">Quản Trị</mat-option>
                <mat-option value="KhachHang">Khách Hàng</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-stroked-button color="warn" (click)="AddUser()" *ngIf="!CheckUpdate; else EditButton">Thêm</button>
        <ng-template #EditButton>
            <button mat-stroked-button color="warn" (click)="EditUser()">Cập Nhật</button>
        </ng-template>
    </form>
</mat-nav-list> -->