@import "../../../../Helper/variable";


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  overflow: unset;
}

.example-full-width {
  width: 100%;
}

.danger {
  color: $color-text;
  font-size: 13px;
  padding-bottom: 10px;
  margin-top: -16px;
}

mat-form-field{
  height: 45px;
  margin-top: 10px;
}
// #cdk-overlay-0{
//   mat-bottom-sheet-container.mat-bottom-sheet-container.ng-tns-c14-28.ng-trigger.ng-trigger-state.mat-bottom-sheet-container-large.ng-star-inserted {

//     max-height: 100vh !important;
//     overflow: unset;
//     display: none;
//   }
// }
