#mycarousel{
    .carousel-indicators{
        li{
            border-radius: 50%;
            width: 13px;
            height: 13px;
            margin-right: 5px;
        }
    }
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}   


@media screen and(max-width: 611px){
    #mycarousel{
        display: none;
    }
}