<ng-container *ngIf="phimDetail">
  <section id="ChiTietPhim">
    <div class="bg-img">
      <img [src]="phimDetail.hinhAnh" alt="">
    </div>
    <div class="detail-phim d-flex justify-content-between container">
      <div class="img-phim">
          <img [src]="phimDetail.hinhAnh" alt="">
          <div class="trailer">
              <a [href]="phimDetail.trailer"><i class="fa fa-play" aria-hidden="true"></i></a>
          </div>
      </div>
      <div class="info-phim">
        <p>{{phimDetail.ngayKhoiChieu | date:"dd.MM.yyyy"}}</p>
        <p>{{phimDetail.tenPhim}}</p>
        <button class="buyticket">Mua Vé</button>
      </div>
      <div class="danhgia-phim">
        
      </div>
    </div>

  </section>
</ng-container>