<div class="modal-content">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs mynav">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#dangnhap">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#dangki">Đăng kí</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="dangnhap">
            <form class="form">
                <label for="inp" class="inp">
                    <input class="form-control" name="userName" type="text" id="inp" placeholder="&nbsp;">
                    <span class="label">Tài khoản</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="userName" type="text" id="inp" placeholder="&nbsp;">
                    <span class="label">Mật khẩu</span>
                    <span class="border"></span>
                </label>

                <div class="button_cont" align="center"><a class="example_a" target="_blank"
                        rel="nofollow noopener">Đăng nhập</a></div>
            </form>
        </div>
        <div class="tab-pane container fade" id="dangki">
            <form #registerForm="ngForm" (ngSubmit)="dangKy(registerForm.value)">
                <label for="inp" class="inp w-50 px-2">
                    <input class="form-control" name="ho" #Ho="ngModel" ngModel required type="text" id="inp" placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="Ho.errors && (Ho.dirty || Ho.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="Ho.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Họ</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp w-50 px-2">
                    <input class="form-control" name="ten" #Ten="ngModel" ngModel required type="text" id="inp" placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="Ten.errors && (Ten.dirty || Ten.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="Ten.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Tên</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="taiKhoan" #TaiKhoan="ngModel" ngModel required type="text" id="inp"
                        placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="TaiKhoan.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Tài khoản</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp w-50 px-2">
                    <input class="form-control" name="matKhau" #MatKhau="ngModel" ngModel required type="password" id="inp"
                        placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="MatKhau.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Mật khẩu</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp w-50 px-2">
                    <input class="form-control" name="nhapLaiMatKhau" #NhapLaiMatKhau="ngModel" ngModel required type="password" id="inp"
                        placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="NhapLaiMatKhau.errors && (NhapLaiMatKhau.dirty || NhapLaiMatKhau.touched)"
                        class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="NhapLaiMatKhau.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Nhập lại mật khẩu</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="email" #Email="ngModel" ngModel required type="text" id="inp" placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="Email.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="sinhNhat" #SinhNhat="ngModel" ngModel required type="text" id="inp"
                        placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="SinhNhat.errors && (SinhNhat.dirty || SinhNhat.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="SinhNhat.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Sinh nhật</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="soDT" #SoDT="ngModel" ngModel required type="text" id="inp" placeholder="&nbsp;">
                    <!-- Check Validation -->
                    <div *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="SoDT.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Số điện thoại</span>
                    <span class="border"></span>
                </label>


                <div class="button_cont" align="center"><a class="example_a" target="_blank"
                        rel="nofollow noopener">Đăng kí</a></div>
            </form>
        </div>
    </div>
</div>