<div class="modal-dialog">
    <div class="modal-content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#logout">Đăng kí</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="login">...</div>
            <div class="tab-pane container fade" id="logout">...</div>
        </div>
    </div>
</div>